<a href="https://colab.research.google.com/github/nuruldinikamilah/My-project/blob/main/lcg%20mrng.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

z = 10121216
a = 2
c = 5
m = 100
pengulangan = 10

num_base = z

zi = []
ui = []

for i in range(pengulangan):
  rand = (a * num_base + c) % m
  zi.append(rand)

  uniform = rand/m
  ui.append(uniform)

  fx = rand ** (1/4)
  x.append(fx)
  num_base = rand


dict = {
        'Zi' : zi,
        'Ui' : ui,}
print("Tabel Hasil LCG Memakai NIM Mahasiswa Pertama 10121216")
df = pd.DataFrame(dict)
df.reset_index(drop=True, inplace=True)
df.index = df.index + 1
df.index.name = 'i'
display(df)

Tabel Hasil LCG Memakai NIM Mahasiswa Pertama 10121216

    Zi    Ui
i
1   37  0.37
2   79  0.79
3   63  0.63
4   31  0.31
5   67  0.67
6   39  0.39
7   83  0.83
8   71  0.71
9   47  0.47
10  99  0.99

In [ ]:
import pandas as pd

z = 10121225
a = 3
m = 185
pengulangan = 10

num_base = z

zi = []
ui = []

for i in range(pengulangan):
  rand = (a * num_base ) % m
  zi.append(rand)

  uniform = rand/m
  ui.append(uniform)

  fx = rand ** (1/4)
  x.append(fx)
  num_base = rand


dict = {
        'Zi' : zi,
        'Ui' : ui,}
print("Tabel Hasil MRNG Memakai NIM Mahasiswa Kedua 10121225")
df = pd.DataFrame(dict)
df.reset_index(drop=True, inplace=True)
df.index = df.index + 1
df.index.name = 'i'
display(df)

Tabel Hasil MRNG Memakai NIM Mahasiswa Kedua 10121225

     Zi        Ui
i
1   180  0.972973
2   170  0.918919
3   140  0.756757
4    50  0.270270
5   150  0.810811
6    80  0.432432
7    55  0.297297
8   165  0.891892
9   125  0.675676
10    5  0.027027

In [ ]:
def linear_congruential_generator(a, c, mod, Z, num_randoms):
    random_numbers = []

    for _ in range(num_randoms):
        Z = (a * Z + c) % mod
        random_numbers.append(Z)

    return random_numbers

a = 2
c = 5
mod = 100
Z = 10121216
num_randoms = 10

random_numbers = linear_congruential_generator(a, c, mod, Z, num_randoms)

print("Bilangan acak:")
for num in random_numbers:
    print(num)

Bilangan acak:
37
79
63
31
67
39
83
71
47
99